.row{
    border-style: solid;
    border-color: gray;
    border-width: 0px;
    display: flex;
    width: min-content;
  }
  
  .square{
    border-style: solid;
    border-color: gray;
    border-width: 0px;
    padding: 4px;
    margin: 0px;
  }
  
  .blue{
    background-color: #89ABE3FF
  }
  .or{
    background-color: #FCF6F5FF
  }